body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3F0071 !important;
  color: #ECECEC !important;
}

body a {
  text-decoration: none;
  text-align: center;
}

.navbar-custom{
  background-color: #3F0071 !important;
  -webkit-box-shadow: 0px 1px 53px 2px #FB2576;
  -moz-box-shadow: 0px 1px 53px 2px #FB2576;
  -o-box-shadow: 0px 1px 53px 2px #FB2576;
  box-shadow: 0px 1px 53px 2px #FB2576;
  border-radius: 10px;
  border-bottom: 3px solid #FB2576;
  transition: all 0.5s;
  text-align: center;
}
.navbar-custom:hover{
  border-bottom: 3px solid white;
}

.navBtn{
  background-color: #3F0071;
  color: #FB2576;
  border-radius: 10px;
  border-top: 3px solid #FB2576;
  border-bottom: 3px solid #FB2576;
  border-left: 1px solid #FB2576;
  border-right: 1px solid #FB2576;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.navBtn:hover{
  background-color: #FB2576;
  color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-box-shadow: 0px 1px 53px 2px #FB2576;
  -moz-box-shadow: 0px 1px 53px 2px #FB2576;
  -o-box-shadow: 0px 1px 53px 2px #FB2576;
  box-shadow: 0px 1px 53px 2px #FB2576;
  border-radius: 10px;
}

#breadcrumb-nav{
  color: white !important;
  text-decoration: underline !important;
}

footer{
  text-align: center;
}
.footerdiv{
  color: #FFF7D4;
  border-radius:  20%;
  text-align: center;
  list-style: none;
}
.footerdiv a{
  text-decoration: none;
  color: white;
  transition: all 1.0s; 
}
.footerdiv a:hover{
  margin: 10px;
  font-size:  20px;
  color: #FB2576;
}

.paragraphIntroIndex{
  text-align: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 50px;
}
.paragraphIntroIndexMiddle{
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 20px;
  margin: 50px;
}
.paragraphIntroIndexFinal{
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  margin: 50px;
}
.piia i{
  color: #FB2576;
}

/* feedback page */
.feeddiv{
  margin: 50px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* WebKit (Chrome, Safari) */
#starrange::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #3F0071, #FFFFFF); /* Gradient from red to green */
  height: 5px; /* Set the height of the track */
  border-radius: 2.5px; /* Round the edges */
}

/* Gecko (Firefox) */
#starrange::-moz-range-track {
  background: linear-gradient(to right, #3F0071, #FFFFFF); /* Gradient from red to green */
  height: 5px; /* Set the height of the track */
  border-radius: 2.5px; /* Round the edges */
}

/* Styling the thumb (optional) */
#starrange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: #FB2576; /* Set the color of the thumb */
  border-radius: 50%; /* Make the thumb round */
  border: 2px solid #FFFFFF; /* Add a border around the thumb */
}

#starrange::-moz-range-thumb {
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: #FB2576; /* Set the color of the thumb */
  border-radius: 50%; /* Make the thumb round */
  border: 2px solid #FFFFFF; /* Add a border around the thumb */
}
