extends mainpagelayout

block content
    div.container-fluid.feeddiv
        h1#starrangelabel(for="customRange3" class="form-label") Feedbakc

        div.container-fluid.Section
            h3 Valutazione
            div.container-fluid#container-star
                each _ in [1, 2, 3, 4, 5]
                    i(class='bi bi-star')
                
            input#starrange(type="range" class="form-range" min="0" max="5" step="0.5" value="0")

            h3 Commento

            div.container-fluid#container-comment
                .form-floating.mb-3
                    textarea#FeedbackTextarea.form-control.custom-shadow(placeholder='Inserisci il tuo commento...', maxlength='500')
                    label(for='FeedbackTextarea') Commento - (max 500 caratteri)


            div.container-fluid#container-submit
                span.navBtn#SendFeedback
                    i(class='bi bi-send-fill')
                    | Invia feedback


