extends mainpagelayout

block content
  div.container
    div.container.paragraphIntroIndex
      i(class="bi bi-bookmark-check-fill")
      p Questo è il social ufficiale del Talete, registrati e scopri tutte le funzionalità di condivisione.
    div.container.paragraphIntroIndexMiddle
      i(class="bi bi-star-fill")
      i(class="bi bi-star-fill")
      i(class="bi bi-star-half")
      i(class="bi bi-star")
      i(class="bi bi-star")
      p Per la prima volta potrai votare i tuoi professori, in modo completamente anonimo.
    div.container.paragraphIntroIndexMiddle
      i(class="bi bi-list-check")
      p Potrai condividere voti e compiti.
    div.container.paragraphIntroIndexFinal
      i(class="bi bi-heart-fill")
      p Instaura nuove conoscenze con persone di tutta la scuola.
  
  
